body { 
  font-size: 10pt;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  background-color: #bbbbbb; 
  background-image: url('ceumicrodata_background.png');
  background-position:center top;
}
div {
  margin: 0px;
}

#centeredContainer {
  position: absolute;
  width: 700pt;
  margin-left: -350pt;
  top: 0px;
  left: 50%;
}
#ceumicrodata_logo {
  margin-top: 28px;
  margin-bottom: 29px;
}
.whiteBox {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: #F9F9F9;   
}
.mainTitle {
  position: absolute;
  top: 20px;
  left: 60px;
}
.mainTitle h1{ /* Graphing App */
  font-size: 22pt;
  font-weight: 300;
  margin: 0px;
}
.mainTitle h4{  /* CEU Microdata */
  font-size: 11pt;
  font-weight: 400;
  margin: 0px;
}


.chartContainer {
  position: absolute;
  right: 210px;
  top: 180px;
  left: 20px;
  bottom: 20px;
  background-color: #FFFFFF;
}
.chartDescription {
  position: absolute;
  overflow: auto;
  width: 170px;
  height: 260px;
  right: 20px;
  bottom: 20px;
}

.chartButtons {
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
