body { 
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background-color: #bbbbbb; 
  background-image: url('ceumicrodata_background.png');
  background-position:center top;
}
div {
  margin: 0px;
}

#centeredContainer {
  position: absolute;
  width: 710px;
  margin-left: -355px;
  top: 0px;
  left: 50%;
}
#ceumicrodata_logo {
  margin-top: 28px;
  margin-bottom: 29px;
}
.whiteBox {
  position: absolute;
  width: 100%;
  height: 456px;
  background-color: #ffffff;   
}
.mainTitle {
  position: absolute;
  top: 20px;
  left: 40px;
}
.chartContainer {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 20px;
  bottom: 20px;
}
.chartDescription {
  position: absolute;
  overflow: auto;
  width: 170px;
  height: 280px;
  right: 20px;
  bottom: 20px;
}

.chartButtons {
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
