path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.mouseover {
    stroke-width: 4;
}
.clicked {
    stroke-width: 8;
    stroke-dasharray: 5,5;
}

.axis path,
.axis line {

    fill: none;
    stroke: #eee;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
    fill: #aaa;
}

.chartBackground {
    fill: #fafafa;
}
