path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.mouseover {
    stroke-width: 4;
}
.clicked {
    stroke-width: 8;
    stroke-dasharray: 5,5;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}