.chartTitle text {
  font-size: 14pt;
  font-weight: bold;
  fill: #006D9E;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.mouseover {
    stroke-width: 4;
}
.clicked {
    stroke-width: 8;
    stroke-dasharray: 5,5;
}

.axis path,
.axis line {

    fill: none;
    stroke: #E1E1E1;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
    fill: #818181;
}

.chartBackground {
    fill: #9Fe9F9;
}

.regionLine {
 
}
.referenceCountryLine {
    stroke-width: 4;
}
.countryLine {

}
